* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

/* CONTATO FIXO */
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.wppContato {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.wppContato:hover {
    filter: brightness(0.5);
}
/* CONTATO FIXO */

/* HEADER INICIO */
.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.nav-list a:hover {
    color: #00a2ff;
}
/* HEADER FIM */

/* INICIO MAIN */
.main-conteiner {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('#{resource['/images/fundo1.png']}');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.main-conteiner h1 {
    font-family: Reggae One;
    font-size: 100px;
}

.main-conteiner h2 {
    font-family: Reggae One;
}
/* FIM MAIN */

/* INICIO CONTEUDO */
.conteiner-conteudo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-video-pesquisar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-video video-pesquisar {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: auto;
}

.conteiner-topicos {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-topicos1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.div-topicos2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.div-topicos3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.div-websites {
    margin: 20px;
    width: 600px;
}

.div-sistemas {
    margin: 20px;
    width: 600px;
}

.div-aplicativos {
    margin: 20px;
    width: 600px;
}

.div-ecommerce {
    margin: 20px;
    width: 600px;
}

.div-portifolio {
    margin: 20px;
    width: 600px;
}

.div-ideia {
    margin: 20px;
    width: 600px;
}

.conteiner-topicos p{
    font-size: 20px;
}

.conteiner-seguranca {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-video video {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: auto;
}

.div-seguranca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-seguranca {
    width: 800px;
    margin-top: 25px;
}

.panel-seguranca h2 {
    font-size: 26px;
    text-align: center;
}

.panel-seguranca p {
    margin-top: 26px;
    font-size: 20px;
    padding: 10px;
}
/* FIM CONTEUDO */

/* INICIO FOOTER */
.footer-conteiner {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 60px;
    background-image: url('#{resource['/images/fundo2.png']}');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.div-footer h1 {
    font-family: Reggae One;
    font-size: 80px;
    margin-top: 80px;
}

.div-footer p {
    margin-top: 30px;
}

.div-contato {
    margin-top: 50px;
}

.contato {
    display: flex;
    justify-conteiner: center;
    align-items: center;
    margin-top: 20px;
}

.email {
    width: 60px;
    height: auto;
}

.whatsapp {
    width: 60px;
    height: auto;
}

.instagram {
    width: 50px;
    height: auto;
}

.link {
    margin-left: 20px;
    margin-right: 20px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.div-contato h2 {
    font-family: Reggae One;
    font-size: 30px;
    margin-top: 30px;
}

.link:hover {
    filter: brightness(0.5);
}
/* INICIO FOOTER */

/* RESPONSIVIDADE */
@media (max-width: 1500px) {

    .conteiner-topicos {
        margin-top: 40px;
    }
}

@media (max-width: 1340px) {
    .conteiner-topicos {
        margin-top: 20px;
    }

    .div-topicos1 {
        flex-direction: column;
    }

    .div-topicos2 {
        flex-direction: column;
    }

    .div-topicos3 {
        flex-direction: column;
    }
}

@media (max-width: 1020px) {
    .nav-list{
        margin-right: 10px;
    }

    .main-conteiner h1 {
        font-size: 80px;
    }

    .main-conteiner h2 {
        font-size: 20px;
    }

    .div-footer h1 {
        font-size: 80px;
    }

}

@media (max-width: 700px) {
    .fixed {
        bottom: 5px;
        right: 5px;
    }

    .div-websites {
        width: 500px;
    }

    .div-sistemas {
        width: 500px;
    }

    .div-aplicativos {
        width: 500px;
    }

    .div-ecommerce {
        width: 500px;
    }

    .div-portifolio {
        width: 500px;
    }

    .div-ideia {
        width: 500px;
    }
}

@media (max-width: 648px) {
    .main-conteiner h1 {
        font-size: 60px;
    }

    .main-conteiner h2 {
        font-size: 14px;
    }

    .div-footer h1 {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .div-conteudo-titulo h2{
        font-size: 20px;
    }

    .conteiner-topicos h2 {
        font-size: 20px
    }

    .conteiner-topicos p {
        font-size: 16px
    }

    .div-websites {
        width: 400px;
    }

    .div-sistemas {
        width: 400px;
    }

    .div-aplicativos {
        width: 400px;
    }

    .div-ecommerce {
        width: 400px;
    }

    .div-portifolio {
        width: 400px;
    }

    .div-ideia {
        width: 400px;
    }
}

@media (max-width: 490px) {
    .wppContato {
        width: 60px;
    }

    .nav-list a {
        font-size: 16px;
    }

    .main-conteiner h1 {
        font-size: 38px;
    }

    .main-conteiner h2 {
        font-size: 10px;
    }

    .div-conteudo-titulo h2{
        font-size: 14px;
    }

    .conteiner-topicos h2 {
        font-size: 16px
    }

    .conteiner-topicos p {
        font-size: 14px
    }

    .div-websites {
        width: 300px;
    }

    .div-sistemas {
        width: 300px;
    }

    .div-aplicativos {
        width: 300px;
    }

    .div-ecommerce {
        width: 300px;
    }

    .div-portifolio {
        width: 300px;
    }

    .div-ideia {
        width: 300px;
    }

    .div-footer h1 {
        font-size: 38px;
    }
}

@media (max-width: 400px) {
    .nav{
        height: 60px;
    }
    .nav-list a{
        font-size: 14px;
        padding: 10px;
    }

    .main-conteiner h1 {
        font-size: 38px;
    }

    .main-conteiner h2 {
        font-size: 10px;
    }

    .conteiner-topicos h2 {
        font-size: 14px
    }

    .conteiner-topicos p {
        font-size: 12px
    }

    .div-websites {
        width: 250px;
    }

    .div-sistemas {
        width: 250px;
    }

    .div-aplicativos {
        width: 250px;
    }

    .div-ecommerce {
        width: 250px;
    }

    .div-portifolio {
        width: 250px;
    }

    .div-ideia {
        width: 250px;
    }
}

@media (max-width: 1030px) {
    .ui-video video {
        width: 800px;
    }

@media (max-width: 860px) {
    .ui-video video {
        width: 700px;
    }

    .panel-seguranca {
        width: 560px;
    }
}

@media (max-width: 700px) {
    .ui-video video {
        width: 650px;
    }

    .panel-seguranca {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .ui-video video {
        width: 550px;
    }

    .panel-seguranca {
        width: 400px;
    }

    .panel-seguranca h2 {
        font-size: 20px;
    }

    .panel-seguranca p {
        margin: 10px;
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .ui-video video {
        width: 450px;
    }

    .panel-seguranca {
        width: 400px;
    }

    .panel-seguranca h2 {
        font-size: 20px;
    }

    .panel-seguranca p {
        margin: 10px;
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .panel-seguranca {
        width: 300px;
    }

    .panel-seguranca h2 {
        font-size: 16px;
    }

    .panel-seguranca p {
        margin-top: 20px;
        font-size: 14px;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .panel-seguranca {
        width: 250px;
    }

    .panel-seguranca h2 {
        font-size: 14px;
    }

    .panel-seguranca p {
        margin-top: 20px;
        font-size: 11px;
    }
}