* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

/* CONTATO FIXO */
.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.wppContato {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.wppContato:hover {
    filter: brightness(0.5);
}
/* CONTATO FIXO */

/* HEADER INICIO */
.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.nav-list a:hover {
    color: #00a2ff;
}
/* HEADER FIM */

/* INICIO MAIN */
.main-conteiner {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('#{resource['/images/fundo1.png']}');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.logo {
    width: 250px;
    height: auto;
}

.main-conteiner h1 {
    font-family: Reggae One;
    font-size: 100px;
}

.main-conteiner h2 {
    font-family: Reggae One;
}
/* FIM MAIN */

/* INICIO CONSULTORIA */
.conteiner-consultar {
    width: 100%;
    display: flex;
}

.div-consultar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60px;
    gap: 20px;
}

.tecnologia video {
    margin: 0;
    padding: 0;
    width: 600px !important;
    height: auto !important;
    pointer-events: none;
    z-index: -1;
}

.div-sobre h2 {
   font-size: 30px;
}

.div-sobre {
    gap: 10px;
}

.div-sobre p {
    font-size: 18px;
    margin-top: 10px;
}

.separator-sobre2 {
    margin-top: 20px;
    margin-right: 2px;
}

.div-btn-consultoria {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* FIM CONSULTORIA */

/* INICIO MODAL */
.consultoria-dialog {
    width: 660px !important;
}

.consultoria-dialog p {
    font-size: 16px;
    margin-bottom: 16px;
}

.div-modal {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.form1,
.form2 {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.nome-modal,
.email-modal,
.empresa-modal,
.telefone-modal,
.select-modal,
.area-modal  {
    width: 300px !important;
}

.div-area {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.area-modal {
    width: 610px !important;
    height: auto;
}

.div-btn-modal {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* FIM MODAL */

/* INICIO CONTEUDO */
.conteiner-topicos {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-topicos1,
.div-topicos2,
.div-topicos3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.div-websites,
.div-sistemas,
.div-aplicativos,
.div-ecommerce,
.div-portifolio,
.div-ideia {
    margin: 20px;
    width: 600px;
}

.div-websites .ui-panel-content,
.div-sistemas .ui-panel-content,
.div-aplicativos .ui-panel-content,
.div-ecommerce .ui-panel-content,
.div-portifolio .ui-panel-content,
.div-ideia .ui-panel-content {
    background-color: transparent !important;
}

.conteiner-topicos h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.conteiner-topicos p {
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}

.separator1 {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.conteiner-video-planeta {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-video video {
    padding: 0;
    margin: 0;
    width: 800px;
    height: auto;
    pointer-events: none;
    z-index: -1;
}
/* FIM CONTEUDO */

/* INICIO VIDEO PLANETA */
.conteiner-gif {
    width: 100%;
}

.div-gif {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.div-banco {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 200px;
}

.banco {
    width: 120px;
    height: auto;
}

.div-banco h2 {
    font-size: 28px;
    margin-top: 20px;
}

.separator-banco {
    margin-top: 5px;
}

.div-banco p {
    font-size: 22px;
    margin-top: 20px;
}

.div-criptografia {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 200px;
}

.criptografia {
    width: 120px;
    height: auto;
}

.div-criptografia h2 {
    font-size: 28px;
    margin-top: 20px;
}

.separator-criptografia {
    margin-top: 8px;
}

.div-criptografia p {
    font-size: 22px;
    margin-top: 20px;
    text-align: right;
}

.div-protocolo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 20px;
}

.protocolo {
    width: 140px;
    height: auto;
}

.div-protocolo h2 {
    font-size: 28px;
    margin-top: 20px;
}

.separator-protocolo {
    margin-top: 5px;
}

.div-protocolo p {
    font-size: 22px;
    margin-top: 20px;
}

.div-clean-code {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 200px;
}

.clean-code {
    width: 150px;
    height: auto;
}

.div-clean-code h2 {
    font-size: 28px;
    margin-top: 20px;
}

.separator-clean-code {
    margin-top: 5px;
}

.div-clean-code p {
    font-size: 22px;
    margin-top: 20px;
    text-align: right;
}
/* FIM VIDEO PLANETA  */

/* INICIO TECNOLOGIAS */
#conteiner-duvidas {
    width: 100%;
}

.titulo-duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.form-div-duvidas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrafo-duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #bfbdbd;
    opacity: 0.7;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.separator {
    width: 50px;
    margin-top: 5px;
}

.duvidas-contato {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.div-content {
    display: flex;
    gap: 20px;
}

.div-duvidas {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-left: 2%;
}

.div-duvidas2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.separator3 {
    margin-left: 20px;
}

.input-nome,
.input-email {
    width: 305px;
    height: 40px;
}

.input-telefone {
    width: 160px;
    height: 40px;
}

.input-mensagem {
    width: 400px;
    height: 108px;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.btn-enviar {
    width: 80px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.div-nosso,
.contato-link {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    margin-left: 20px;
    margin-right: 20px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.link p {
    margin-left: 20px;
}

.link:hover {
    filter: brightness(0.5);
}
/* FIM TECNOLOGIAS */

/* INICIO FOOTER */
.footer-conteiner {
    width: 100%;
    margin-top: 50px;
    background-image: url('#{resource['/images/fundo2.png']}');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.logo2 {
    width: 180px;
    height: auto;
    margin-top: 50px;
}

.div-footer p {
    margin: 50px;
}
/* FIM FOOTER */

/* RESPONSIVIDADE */
@media (max-width: 1500px) {
    .conteiner-topicos {
        margin-top: 40px;
    }
}

@media (max-width: 1340px) {
    .conteiner-topicos {
        margin-top: 20px;
    }

    .div-topicos1,
    .div-topicos2,
    .div-topicos3 {
        flex-direction: column;
    }

    .br1 {
        display: none;
    }
}

@media (max-width: 1020px) {
    .nav-list {
        margin-right: 10px;
    }

    .logo {
        width: 220px;
    }

    .main-conteiner h1 {
        font-size: 80px;
    }

    .main-conteiner h2 {
        font-size: 20px;
    }

    .div-footer h1 {
        font-size: 80px;
    }
}

@media (max-width: 700px) {
    .fixed {
        bottom: 5px;
        right: 5px;
    }

    .div-websites,
    .div-sistemas,
    .div-aplicativos,
    .div-ecommerce,
    .div-portifolio,
    .div-ideia {
        width: 550px;
    }

    .ui-video video {
        width: 650px;
    }
}

@media (max-width: 648px) {
    .logo {
        width: 200px;
    }

    .main-conteiner h1 {
        font-size: 60px;
    }

    .main-conteiner h2 {
        font-size: 14px;
    }

    .div-footer h1 {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .div-conteudo-titulo h2 {
        font-size: 20px;
    }

    .conteiner-topicos h2 {
        font-size: 20px
    }

    .conteiner-topicos p {
        font-size: 16px
    }

    .div-websites,
    .div-sistemas,
    .div-aplicativos,
    .div-ecommerce,
    .div-portifolio,
    .div-ideia {
        width: 470px;
    }

    .ui-video video {
        width: 550px;
    }
}

@media (max-width: 490px) {
    .wppContato {
        width: 60px;
    }

    .nav-list a {
        font-size: 16px;
    }

    .logo {
        width: 110px;
    }

    .main-conteiner h1 {
        font-size: 38px;
    }

    .main-conteiner h2 {
        font-size: 10px;
    }

    .div-conteudo-titulo h2 {
        font-size: 14px;
    }

    .conteiner-topicos h2 {
        font-size: 16px
    }

    .conteiner-topicos p {
        font-size: 14px
    }

    .div-websites,
    .div-sistemas,
    .div-aplicativos,
    .div-ecommerce,
    .div-portifolio,
    .div-ideia {
        width: 360px;
    }

    .div-footer h1 {
        font-size: 38px;
    }
}

@media (max-width: 400px) {
    .nav {
        height: 60px;
    }

    .nav-list a {
        font-size: 14px;
        padding: 10px;
    }

    .main-conteiner h1 {
        font-size: 38px;
    }

    .main-conteiner h2 {
        font-size: 10px;
    }

    .conteiner-topicos h2 {
        font-size: 14px
    }

    .div-websites,
    .div-sistemas,
    .div-aplicativos,
    .div-ecommerce,
    .div-portifolio,
    .div-ideia  {
        width: 290px;
    }

    .ui-video video {
        width: 380px;
    }
}

@media (max-width: 1030px) {
    .ui-video video {
        width: 700px;
    }

@media (max-width: 860px) {
    .ui-video video {
        width: 600px;
    }
}

@media (max-width: 560px) {
    .ui-video video {
        width: 420px;
    }
}

@media (max-width: 420px) {
    .ui-video video {
        width: 400px;
    }
}

@media (max-width: 380px) {
    .ui-video video {
        width: 340px;
    }
}

@media (max-width: 350px) {
    .ui-video video {
        width: 300px;
    }
}

@media (max-width: 650px) and (min-width: 600px) {
    .ui-video video {
        width: 600px;
    }
}

@media (max-width: 1030px) {
    .div-consultar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 60px;
    }

    .div-sobre {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       text-align: center;
       margin-left: 10px;
       margin-right: 10px;
    }

    .div-sobre p {
        font-size: 18px;
    }

    .separator-sobre2 {
        display: none;
    }

    .div-banco,
    .div-criptografia,
    .div-protocolo,
    .div-clean-code {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 40px;
    }

    .div-banco br,
    .div-criptografia br,
    .div-protocolo br,
    .div-clean-code br {
        display: none;
    }
}


@media (max-width: 870px) {
    .separator-sobre2 {
        margin-bottom: 154px;
    }

    .div-sobre p {
        font-size: 18px;
    }

    .tecnologia video {
        width: 600px !important;
        display: flex;
        justify-content: center
        align-items: center;
    }
}

@media (max-width: 790px) {
    .tecnologia video {
        width: 500px !important;
    }
}

@media (max-width: 720px) {
    .separator-sobre2 {
        margin-bottom: 178px;
    }
}

@media (max-width: 690px) {
    .tecnologia video {
        width: 450px !important;
    }
}

@media (max-width: 600px) {
    .separator-sobre2 {
        margin-bottom: 208px;
    }

    .div-banco h2,
    .div-criptografia h2,
    .div-protocolo h2,
    .div-clean-code h2 {
        font-size: 24px;
    }

    .div-banco p,
    .div-criptografia p,
    .div-protocolo p,
    .div-clean-code p {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .div-sobre p {
        font-size: 14px;
    }

    .separator-sobre2 {
        margin-bottom: 158px;
    }

    .tecnologia video {
        width: 400px !important;
    }
}

@media (max-width: 493px) {
    .separator-sobre2 {
        margin-bottom: 178px;
    }

    .div-sobre h2 {
        font-size: 24px;
    }

    .tecnologia video {
        width: 350px !important;
    }

}

@media (max-width: 460px) {
    .div-consultar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .separator-sobre2 {
        margin-bottom: 158px;
    }

    .tecnologia video {
        width: 300px !important;
    }
}

@media (max-width: 413px) {
    .separator-sobre2 {
        margin-bottom: 178px;
    }
}

@media (max-width: 352px) {
    .separator-sobre2 {
        margin-bottom: 198px;
    }

    .tecnologia video {
        width: 260px !important;
    }
}

@media (max-width: 400px) {
    .div-banco p,
    .div-criptografia p,
    .div-protocolo p,
    .div-clean-code p {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .duvidas-contato {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }

    .separator3 {
        margin-left: 50px;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-itens: center;
    }
}

@media (max-width: 850px) {
    .div-content {
        flex-direction: column;
        gap: 20px;
    }

    .div-duvidas {
        gap: 20px;
    }

    .div-duvidas2 {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 8px;
    }
}

@media (max-width: 730px) {

    /* INICIO MODAL */
    .consultoria-dialog {
        width: 350px !important;
        padding: 0;
    }

    .consultoria-dialog .ui-dialog-title {
        font-size: 16px !important;
    }

    .br-modal {
        display: none;
    }

    .consultoria-dialog p {
        font-size: 14px;
        margin-bottom: 14px;
        margin-right: 0;
    }

    .div-modal {
        flex-direction: column;
        gap: 8px;
    }

    .form1,
    .form2 {
        gap: 8px;
    }

    .nome-modal,
    .email-modal,
    .empresa-modal,
    .telefone-modal,
    .select-modal,
    .area-modal  {
        width: 300px !important;
        height: 35px;
    }

    .div-area {
        margin-top: 8px;
        height: auto;
    }

    .area-modal {
        width: 300px !important;
        height: auto;
    }

    .div-btn-modal {
        margin-top: 14px;
        display: flex;
        justify-content: center;
    }
    /* FIM MODAL */
}

@media (max-width: 520px) {
    .input-nome,
    .input-email {
        width: 260px;
        height: 40px;
    }

    .input-telefone {
        width: 150px;
        height: 40px;
    }

    .input-mensagem {
        width: 260px;
        height: 150px;
    }
    .div-duvidas2 {
        margin-left: 5px;
    }

    .separator3 {
        margin-left: 50px;
        margin-right: 40px;
    }
}

@media (max-width: 390px) {

/* INICIO MODAL */
    .consultoria-dialog {
        width: 280px !important;
    }

    .consultoria-dialog .ui-dialog-title {
        font-size: 16px !important;
    }

    .consultoria-dialog p {
        font-size: 13px;
    }

    .nome-modal,
    .email-modal,
    .empresa-modal,
    .telefone-modal,
    .select-modal,
    .area-modal  {
        width: 230px !important;
    }

    .area-modal {
        width: 230px !important;
    }
    /* FIM MODAL */
}

@media (max-width: 620px) {
    .area-modal {
        height: 70px !important;
    }
}